@import "tailwindcss";

@layer base {
  :root {
    --green200: hsl(148, 38%, 91%);
    --green600: hsl(169, 82%, 27%);
    --red: hsl(0, 66%, 54%);
    --white: hsl(0, 0%, 100%);
    --grey500: hsl(186, 15%, 59%);
    --grey900: hsl(187, 24%, 22%);
  }

  body {
    @apply flex h-screen items-start justify-center bg-(--green200) p-4 font-normal text-(--grey900) sm:items-center;
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
}

@layer components {
  .label {
    @apply mt-4 mb-2 w-full text-sm;
  }
  legend::after,
  label::after {
    content: "*";
    @apply ps-2 text-(--green600);
  }

  .input {
    @apply h-10 w-full cursor-pointer rounded-lg border p-4 accent-(--green600) outline-0 transition duration-300 ease-in-out hover:border-(--green600) focus-visible:border focus-visible:border-(--green600);
  }
  .error-message {
    @apply mt-2 text-sm text-(--red);
  }

  .fieldset-label {
    @apply relative mb-2 h-10 w-full cursor-pointer rounded-lg border pl-10 leading-10 transition duration-300 ease-in-out hover:border-(--green600) focus-visible:border focus-visible:border-(--green600) has-checked:border has-checked:border-(--green600) has-checked:bg-(--green200);
  }
  .fieldset-input {
    @apply absolute top-1/2 left-4 -translate-y-1/2 cursor-pointer rounded-lg border accent-(--green600) transition duration-300 ease-in-out hover:border-(--green600) focus-visible:border focus-visible:border-(--green600);
  }
}
